@section head {
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/mobile.css">

    <script src="~/js/main.js"></script>
} 

<div id="navbar-mobile-menu">    
    <div id="navbar-mobile-menu-pointer"></div>

    <div id="navbar-mobile-menu-inner">
        <a class="optionbar-option" asp-controller="Main" asp-action="Index">
            <img class="optionbar-option-icon noselect" src="~/img/view-new.svg">            
            Your Keys
        </a>

        <a class="optionbar-option" asp-controller="Main" asp-action="NewKeyPair">
            <img class="optionbar-option-icon noselect" src="~/img/new.svg">            
            New Key
        </a>

        <a class="optionbar-option" asp-controller="Main" asp-action="Index">
            <img class="optionbar-option-icon noselect" src="~/img/share.svg">            
            Import
        </a>

        <a class="optionbar-option" asp-controller="Main" asp-action="Encrypt">
            <img class="optionbar-option-icon noselect" src="~/img/encrypt.svg">            
            Encrypt
        </a>

        <a class="optionbar-option" asp-controller="Main" asp-action="Decrypt">
            <img class="optionbar-option-icon noselect" src="~/img/decrypt.svg">            
            Decrypt
        </a>
    </div>
</div>

<div id="navbar-account-menu">
    <div id="navbar-account-menu-pointer"></div>
    
    <div id="navbar-account-menu-inner">
        <a class="optionbar-option" asp-controller="Main" asp-action="Profile" asp-route-UserId="@ViewBag.UserId" style="display: block;">
            <img class="optionbar-option-icon noselect" src="~/img/profile-icon.svg">                        
            Profile
        </a>

        <a class="optionbar-option" asp-controller="Main" asp-action="ProfileSettings" asp-route-UserId="@ViewBag.UserId" style="display: block;">
            <img class="optionbar-option-icon noselect" src="~/img/settings.svg">                        
            Settings
        </a>

        <a class="optionbar-option" asp-controller="Account" asp-action="LogOut" style="display: block;">
            <img class="optionbar-option-icon noselect" src="~/img/logout.svg">                        
            Log Out
        </a>
    </div>
</div>

<div id="navbar-notification-menu">
    <div id="navbar-notification-menu-pointer"></div>

    <div id="navbar-notification-menu-inner">
        <div id="navbar-notification-menu-notification-container">
            <div id="navbar-notification-menu-notification-container-fade-top"></div>

            @if (ViewBag.Notifications != null)
            {
                <p id="navbar-notification-menu-notifications-new-title">
                    @(((IEnumerable<Notification>)ViewBag.Notifications).Count())
                    @(((IEnumerable<Notification>)ViewBag.Notifications).Count() > 1 ? 
                    "NEW NOTIFICATIONS" : "NEW NOTIFICATION")
                </p>

                <div id="navbar-notification-menu-notifications-new">
                    @foreach (var Notification in ViewBag.Notifications)
                    {
                        @Html.Partial("Notification", (Notification)Notification);
                    }
                </div>

                <div id="navbar-notification-menu-notifications-old">

                </div>
            }
        </div>

        <div id="navbar-notification-menu-notification-container-fade-bottom"></div>        

        <div id="navbar-notification-menu-viewall">
            All Notifications
        </div>
    </div>
</div>

<div id="navbar">
    <div id="navbar-menu">
        <img id="navbar-menu-icon" src="~/img/menu.svg" class="noselect">
    </div>

    <div id="navbar-content">
        <div>
            <h1 id="navbar-title" class="logo noselect">xpgp</h1>
        </div>

        <div id="navbar-searchbar-container">
            <form id="navbar-searchbar" method="GET" asp-action="Search" asp-controller="Main">
                <input type="text" name="query" id="navbar-searchbar-input" placeholder="Find people...">
                <input type="submit" style="display: none;">

                <div id="navbar-searchbar-button">
                    <img id="navbar-searchbar-button-icon" src="~/img/search.svg" class="noselect">
                </div>
            </form>
        </div>

        <div id="navbar-right">
            <div id="navbar-bell">
                <div id="navbar-bell-inner" class="center noselect"
                data-blip="@(((IEnumerable<Notification>)ViewBag.Notifications).Count() > 0)">
                    <img id="navbar-bell-icon-blip" class="navbar-bell-icon" src="~/img/notifications-blip.svg">
                    <img id="navbar-bell-icon-noblip" class="navbar-bell-icon" src="~/img/notifications.svg">
                </div>
            </div>

            <div id="navbar-userinfo">
                <img src='@(
                    Url.Action("ProfileImage", "Main", new { UserId = ViewBag.UserId })
                )' id="navbar-userinfo-icon" class="noselect">

                <div id="navbar-userinfo-name-container">
                    <p id="navbar-userinfo-name" class="noselect">
                        @ViewBag.UserFirstName @ViewBag.UserLastName
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="optionbar">
    <div id="optionbar-inner">
        <a class="optionbar-option" asp-controller="Main" asp-action="Index">
            <img class="optionbar-option-icon noselect" src="~/img/view-new.svg">            
            Your Keys
        </a>

        <a class="optionbar-option" asp-controller="Main" asp-action="NewKey">
            <img class="optionbar-option-icon noselect" src="~/img/new.svg">            
            New Key
        </a>

        <a class="optionbar-option" asp-controller="Main" asp-action="Index">
            <img class="optionbar-option-icon noselect" src="~/img/share.svg">            
            Import
        </a>

        <a class="optionbar-option" asp-controller="Main" asp-action="Encrypt">
            <img class="optionbar-option-icon noselect" src="~/img/encrypt.svg">            
            Encrypt
        </a>

        <a class="optionbar-option" asp-controller="Main" asp-action="Decrypt">
            <img class="optionbar-option-icon noselect" src="~/img/decrypt.svg">            
            Decrypt
        </a>
    </div>
</div>