@section scripts 
{
    <link rel="stylesheet" href="~/css/profile.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.1/velocity.min.js" integrity="sha256-5Go41ifI+EFXy6IiyZH+HebUCkGwr78biW2nrVJIXqQ=" crossorigin="anonymous"></script>
    
    <script src="~/js/keypair-display.js"></script>
    <script src="~/js/keypair-display-main.js"></script>
    <script src="~/js/keypair-display-profile.js"></script>
}

@Html.Partial("Navbar")

<div id="content">
    <div id="content-inner">
        <div class="content-panel" id="content-panel-bio">
            <div class="center">
                <img src='@(
                    Url.Action("ProfileImage", "Main", new { UserId = ViewBag.ProfileOwner.UserId })
                )' id="profile-pic">
            </div>

            <div id="profile-info">
                <div id="profile-info-inner">
                    <h1 id="profile-full-name">@ViewBag.ProfileOwner.FirstName @ViewBag.ProfileOwner.LastName</h1>
                   
                    @if (!string.IsNullOrWhiteSpace(ViewBag.ProfileOwner.PublicEmailAddress))
                    {
                        <h3 id="profile-emailaddress">
                        
                        @{
                            Random random = new Random();

                            foreach (char c in ViewBag.ProfileOwner.PublicEmailAddress.ToCharArray())
                            {
                                <span class="email-obfuscate-@(random.Next(1024))">@c</span>
                            }
                        }

                        </h3>
                    }
                    else
                    {
                        <h3 id="profile-emailaddress">No public email address given</h3>
                    }
                   
                    <p id="profile-bio-text">@ViewBag.ProfileOwner.Bio</p>
                </div>
            </div>

            <div id="profile-pinned">
                <h3 id="profile-pinned-title">Pinned Key</h3>

                <div class="keypair-view-button"
                data-userid="@ViewBag.PinnedKeyPair.UserId"
                data-keypairid="@ViewBag.PinnedKeyPair.KeyPairId"
                data-name="@ViewBag.PinnedKeyPair.Name"
                data-owner="@ViewBag.PinnedKeyPair.User.FirstName @ViewBag.PinnedKeyPair.User.LastName"
                data-expiretime="@ViewBag.ExpirationTimes[ViewBag.PinnedKeyPair.KeyPairId]"
                data-deleteurl="@ViewBag.DeleteUrls[ViewBag.PinnedKeyPair.KeyPairId]"
                data-viewurl="@ViewBag.ViewUrls[ViewBag.PinnedKeyPair.KeyPairId]"
                data-downloadurl="@ViewBag.DownloadUrls[ViewBag.PinnedKeyPair.KeyPairId]">
                    <div class="keypair-view-button-content">
                        <h3>
                            <img src="~/img/view-new.svg">
                            <span class="keypair-view-button-title">@ViewBag.PinnedKeyPair.Name</span>
                        </h3>

                        <p class="keypair-view-button-subtext">Expires in @ViewBag.ExpirationTimes[ViewBag.PinnedKeyPair.KeyPairId]</p>
                    </div>

                    <div class="keypair-view-button-icon-container"
                    data-ownertext="@if (ViewBag.PinnedKeyPair.UserId == ViewBag.UserId)
                                {
        @:You
                                }
                                else
                                {
        @ViewBag.PinnedKeyPair.User.FirstName @ViewBag.PinnedKeyPair.User.LastName
                                }
        ">@*        I'm sorry.         *@
                        <div class="center" style="height: 100%">
                            <img class="keypair-view-button-icon" src='@(
                                Url.Action("ProfileImage", "Main", new { UserId = ViewBag.PinnedKeyPair.User.UserId })
                            )'>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-panel" id="content-panel-viewkeypairs" style="height: 666px;">
            <div class="content-panel-header">
                <img id="content-panel-header-back" src="~/img/back.svg">

                Viewing: @(ViewBag.ProfileOwner.FirstName)'s Keys
            </div>

            @Html.Partial("KeyViewer")
        </div>
    </div>
</div>

@Html.Partial("Footer")