@section scripts 
{
    <link rel="stylesheet" href="~/css/profile.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.1/velocity.min.js" integrity="sha256-5Go41ifI+EFXy6IiyZH+HebUCkGwr78biW2nrVJIXqQ=" crossorigin="anonymous"></script>
    
    <script src="~/js/keypair-display.js"></script>
    <script src="~/js/keypair-display-main.js"></script>
    <script src="~/js/keypair-display-profile.js"></script>
}

@Html.Partial("Navbar")

<div id="content">
    <div id="content-inner">
        @Html.Partial("ProfileBar", (User)ViewBag.ProfileOwner)

        <div class="content-panel" id="content-panel-viewkeypairs" style="height: 666px;">
            <div class="content-panel-header">
                <img id="content-panel-header-back" src="~/img/back.svg">

                Viewing: @(ViewBag.ProfileOwner.FirstName)'s Keys
            </div>

            @Html.Partial("KeyViewer")
        </div>
    </div>
</div>

@Html.Partial("Footer")